.small {
    width: 40%;
    float: left;
    background: lightblue;
    margin: 2%;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .person-wrapper {
    margin: 8px 8px 16px 8px;
    padding-top: 16px;
    transition: transform .2s;
    text-align: center;
    border: solid 1px #aaa;
    border-radius: 5px;
    box-shadow: 5px 7px 5px rgba(46, 46, 46, 0.479);
    background-color: #FFF7D6;
  }

  .person-wrapper:hover {
      transform: scale(1.05);
  }

  .profile-pic {
    width: 150px;
  }

  h4 {
    margin-bottom: 1em;
    color: #202F5F;
  }